/* 投稿詳細ページ
------------------------------- */
.show-title {
  font-family: 'Philosopher', serif;
  font-size: 2rem;
  color: chocolate;
  text-align: center;
  border-top: 2px chocolate solid;
  border-bottom: 2px chocolate solid;
  text-transform: none;
  text-align: center;
  margin: 30px 0;
  padding: 30px 0;
}
.show-contents {
  color: chocolate;
  font-family: 'Philosopher', serif;
  text-transform: none;
  margin: 80px 100px;
}
.sweet-img-content {
  margin:10px 80px;
  display: flex;
  justify-content: center;
}
.sweet-box-img {
  border-style: ridge;
}
.nickname-title {
  font-size: 1rem;
  margin: 35px 0 0 10px;
}
.show-container {
  display: flex;
  justify-content: space-around;
}
.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-sweet {
  width: 20%;
  background-color:chocolate;
  border-style: outset;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border-style: outset;
  border-radius: 5px;
  color: #535d58;
  font-size: 20px;
}
.detail-sweet-text {
  width: 20%;
  height: 150px;
  background-color:chocolate;
  border-style: outset;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.detail-value-text {
  width: 80%;
  padding-left: 20px;
  border-style: outset;
  border-radius: 5px;
  color: #535d58;
  font-size: 20px;
}
.detail-comment-table{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.detail-sweet-comment {
  width: 100vw;
  height: 80px;
  background-color:chocolate;
  border-style: outset;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  text-align: center;

}
.detail-value-comment{
  width: 20%;
  height: 100%;
  border-style: outset;
  border-radius: 5px;
  color: #535d58;
  font-size: 20px;
  padding-left: 10px;
}
.text_area {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
}
.comment-btn {
  margin: 10px auto;
  background-color: chocolate;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 32px;
  margin-top: 30px;
}
.another-sweet-content {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;

}
.another-sweet {
  color: chocolate;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: chocolate;
  margin: 50px;

}
.another-sweet:hover {
  color: brown;

}
.more-list {
  display: flex;
  justify-content: center;
  color: chocolate;
  font-size: 20px;
}
.show-sweet-edit-btn {
  color: chocolate;
  margin: 0 150px 100px 0;
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 60px;
}
.show-sweet-edit-btn:hover {
  background-color: brown;
}

.destroy-btn {
  color: chocolate;
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 60px;
  margin-bottom: 100px;
}
.destroy-btn:hover {
  background-color: brown;
}
.map-content {
  font-family: 'Philosopher', serif;
}
.map-form {
  border-style: outset;
  margin: 30px auto;
  height: 67px;
  width: 80%;
  padding: 20px;
  border-radius: 5px;
  color: #535d58;
  font-size: 20px;
 }
 .map-name {
   width: 100%;

 }
 .map-btn {
   text-align: center;
 }
 .btn {
   background-color: chocolate;
   color: whitesmoke;
   font-size: 20px;
   border-radius: 5px;
   margin: 0 auto;
   padding: 16px 32px;
 }
 .btn:hover {
   background-color: brown;
 }

.shop-title {
  font-family: 'Philosopher', serif;
  font-size: 1.2rem;
  color: chocolate;
  text-align: center;
  margin-bottom: 30px;
}
#display {
  text-align: center;
}
#map {
  margin: 50px auto;
  border-style: ridge;
  height: 500px;
  width: 80vw;
}
