/* 投稿詳細ページ */
.show-contents {
  color: chocolate;
  font-family: 'Philosopher', serif;
  text-transform: none;
  margin: 0 100px;
}
.sweet-img-content {
  margin:10px 80px;
  display: flex;
  justify-content: center;
}
.sweet-box-img {
  border-style: ridge;
}
.nickname-title {
  font-size: 1rem;
  margin: 35px 0 0 10px;
}
.show-container {
  display: flex;
  justify-content: space-around;
}
.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-sweet {
  width: 20%;
  background-color:chocolate;
  border-style: outset;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border-style: outset;
  border-radius: 5px;
  color: #535d58;
  font-size: 20px;
}
.detail-sweet-text {
  width: 20%;
  height: 150px;
  background-color:chocolate;
  border-style: outset;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.detail-value-text {
  width: 80%;
  padding-left: 20px;
  border-style: outset;
  border-radius: 5px;
  color: #535d58;
  font-size: 20px;
}
.another-sweet-content {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;

}
.another-sweet {
  color: chocolate;
  margin-bottom: 30px;

}
.another-sweet:hover {
  color: brown;

}
.more-list {
  display: flex;
  justify-content: center;
  color: chocolate;
  font-size: 20px;
}
.edit-btn {
  color: chocolate;
  margin: 0 100px 100px 0;
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 50px;
}
.edit-btn:hover {
  background-color: brown;
}
.destroy-btn {
  color: chocolate;
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 50px;
  margin-bottom: 100px;
}
.destroy-btn:hover {
  background-color: brown;
}
