// Place all the styles related to the sweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* トップページ見出し
------------------------------- */
.page-title {
  color: #535d58;
  font-size: 3rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  text-transform: none;
  margin: 0 80px;
}
.text {
 color: #535d58;
 font-size: 20px;
 font-family: 'Philosopher', serif;
 margin: 30px 0;
}
.big-bg {
  width: 100%;
  max-height: 800px;
}
.main-content {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}
.main-content .page-title {
  text-align: center;
}

/* ボタン
------------------------------- */
.post-btn-content{
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 40px;
}
.top-post-button {
  font-size: 1.25rem;
  font-family: 'Philosopher', serif;
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 40px;
  margin: 0 auto;
}
.top-post-button:hover {
  background: brown;
}
/* 検索フォーム
------------------------------- */
.search-title {
  font-family: 'Philosopher', serif;
  font-size: 2rem;
  color: chocolate;
  text-align: center;
  border-top: 2px chocolate solid;
  border-bottom: 2px chocolate solid;
  text-transform: none;
  text-align: center;
  margin: 30px 0;
  padding: 30px 0;
}
.search-form {
  font-family: 'Philosopher', serif;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 50px;
}
.search-input {
  border-style: ridge;
}
.search-btn {
  background-color: chocolate;
  color: white;
  height: 65px;
  width: 160px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 10px 30px;
}

/* 投稿画像一覧
------------------------------- */

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px 30px;
}
.item-name{
  color: #535d58;
  font-size: 25px;
  width: 320px;
  padding-left: 10px;
  border-style: outset;
  font-family: 'Philosopher', serif;
  text-transform: none;
}
.item-created_at{
  font-size: 15px;
}
.item-content {
  margin: 0 auto;
}
.item-created_at {
  text-align: end;
  padding-right: 10px;
  padding-top: 10px;
}
/* いいねボタン
-------------------------------- */
.fa-grin-stars {
  color:chocolate;
  font-size: 25px;
}
.fa-smile {
  color: chocolate;
  font-size: 25px;
}


/* 各ユーザー投稿一覧ページ
------------------------------- */
.show-content {
  color: chocolate;
  font-size: 2rem;
  font-family: 'Philosopher', serif;
  border-top: 2px chocolate solid;
  border-bottom: 2px chocolate solid;
  text-transform: none;
  text-align: center;
  padding: 30px 0;
}
