// Place all the styles related to the sweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* HEADER
------------------------------- */
.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.logo {
  width: 300px;

}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  font-family: 'Philosopher', serif;
  margin-left: 30px;
  margin-top: 30px;
}
.login {
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 32px;
}
.login:hover {
  background-color: brown;
}
.logout {
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 32px;
}
.logout:hover {
  background-color: brown;
}

.sign-up {
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 32px;
}
.sign-up:hover {
  background-color: brown;
}
.user-nickname {
  color: chocolate;
  border-radius: 5px;
  padding: 18px 20px;
  text-transform: none;
}

// .main {
//   min-height: 100vh;
//   position: relative;
//   padding-bottom: 120px;
//   box-sizing: border-box;
// }

/* 見出し */
.page-title {
  color: #535d58;
  font-size: 3rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
  text-transform: none;
  margin: 0 80px;
}
.text {
 color: #535d58;
 font-size: 20px;
 font-family: 'Philosopher', serif;
 margin: 30px 0;
}

/* ボタン */
.post-btn{
  display: flex;
  justify-content: center;
}
.top-post-button {
  font-size: 1.25rem;
  font-family: 'Philosopher', serif;
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 40px;
  margin: 0 auto;
}
.top-post-button:hover {
  background: brown;
}

/* MAIN
------------------------------- */
.big-bg {
  width: 100%;
  max-height: 800px;
}
.main-content {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}
.main-content .page-title {
  text-align: center;
}
.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px 30px;
}
.item-name{
  color: #535d58;
  width: 320px;
  padding-left: 10px;
  border-style: outset;
  font-family: 'Philosopher', serif;
  text-transform: none;
}
.item-created_at {
  text-align: end;
  padding-right: 10px;
  padding-top: 10px;
}

/* フッター
------------------------------ */
footer {
  width: 100%;
  background-color: chocolate;
  text-align: center;
  padding: 25px 0;

  position: absolute;
  bottom:0;

}

footer p {
  color: aliceblue;
  font-size: 0.875rem;
}

