/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
.index {
  background: url('syukuhuku.jpg') center top no-repeat;
  background-size: cover;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 56px;
  box-sizing: border-box;
}
.container {
  font-size:  30px;
}
label {
  color: #432;
  font-size: 40px;
}
.field {
  margin-top: 10px;
}
/* ヘッダー
------------------------------- */
.page-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.logo {
  width: 300px;

}
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  font-family: 'Philosopher', serif;
  margin-left: 30px;
  margin-top: 30px;
}
.login {
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 32px;
}
.login:hover {
  background-color: brown;
}
.logout {
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 32px;
}
.logout:hover {
  background-color: brown;
}

.sign-up {
  background-color: chocolate;
  color: whitesmoke;
  border-radius: 5px;
  padding: 18px 32px;
}
.sign-up:hover {
  background-color: brown;
}
.user-nickname {
  color: chocolate;
  border-radius: 5px;
  padding: 18px 20px;
  text-transform: none;
}
/* ログイン画面
------------------------------- */
.login-body {
  background: url('chococake.jpg') center top no-repeat;
  background-size: cover;
  font-family: 'Philosopher', serif;
}
.login-contents {
  padding-left: 100px;
}
.login-title {
  color: #432;
  font-size: 50px;
  padding: 50px 0;
}
.login-btn {
  background-color: chocolate;
  color: whitesmoke;
  font-size: 30px;
  border-radius: 5px;
  padding: 18px 40px;
  margin: 50px 0;
}

/* 新規登録画面
------------------------------- */
.signup-body {
 background: url('ice.jpg') center top no-repeat;
 background-size: cover;
 font-family: 'Philosopher', serif;
}
.signup-contents {
  padding-left: 100px;
}
.signup-btn {
  background-color: chocolate;
  color: whitesmoke;
  font-size: 30px;
  border-radius: 5px;
  padding: 18px 40px;
  margin-bottom: 10px;
  margin-top: 20px
}
.signup-title {
  color: #432;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* 新規投稿画面
------------------------------- */
.new-body {
  background: url('sweets.photo.jpg') center top no-repeat;
  background-size: cover;
  font-family: 'Philosopher', serif;
}
.new-contents {
  padding-top: 20px;
  padding-left: 100px;
}
.sweets-title {
  font-size: 50px;
  color: aliceblue;
}
.sub-title {
  color: aliceblue;
}
.up-img {
  width: 25%;
  margin-top: 10px;
  border-style: outset;
  border-radius: 5px;
}
/* 投稿編集画面
------------------------------- */
.edit-title{
  font-size: 50px;
  color: #432;
}
.edit-sub-title {
  color: #432;
  margin-left: 10px;
}
.edit-body {
  background: url('cake4.jpg') center top no-repeat;
  background-size: cover;
  font-family: 'Philosopher', serif;
}
.edit-contents {
  padding-top: 10px;
  padding-left: 100px;
}
.edit-page-btn {
  background-color: chocolate;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* 共通ボタン・フォーム
------------------------------- */
.input-default {
  font-size: 15px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 480px;
  height: 200px;
  background: rgba(255,255,255, .5);
  border-style: outset;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 480px;
  height: 4rem;
}
.post-btn {
  background-color: chocolate;
  color: whitesmoke;
  font-size: 20px;
  border-radius: 5px;
  padding: 18px 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
input[type="submit"]:hover {
  background-color: brown;
}

/* フッター
------------------------------- */
footer {
  background-color: chocolate;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-family: 'Philosopher', serif;

  position: absolute;
  bottom:0;

}

footer p {
  color: aliceblue;
  font-size: 0.875rem;
}
/* タブレット表示時
_______________________________*/
@media (max-width: 1024px) {
  .signup-body {
    width: 1024px;
  }
  .new-body {
    width: 1024px;
    margin: 0 auto;
  }

  .img-upload {
    font-size: 15px;
  }
  .name-content {
    margin-top: 10px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 20px;
  }
  textarea {
    width: 480px;
    height: 300px;
    font-size: 20px;
  }
  footer {
    width: 100vw;
  }
}
/* スマホ表示時
_____________________________*/
@media (max-width: 599px) {
  /* トップページ */
  a {
    font-size: 10px;
  }
  p.text {
    font-size: 0.5rem;
    margin: 0 auto;
  }
  .logo {
    width: 100px;
    height: 50px;
  }
  .login {
   padding: 10px 20px;
  }
  .sign-up {
    padding: 10px 20px;
  }
  .logout {
    padding: 10px 20px;
  }
  .main-nav{
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .main-nav li{
    margin: 5px;
  }
  .body {
    width: 100%;
  }
  .page-title {
    font-size: 1rem;
  }
  .top-post-button {
    font-size: 15px;
    padding: 10px 20px;
  }
  .main-content {
    padding: 0;
  }
  input.search-btn {
    margin: 0 20px;
    font-size: 15px;
    padding: 15px 10px;
  }
  .search-input {
    font-size: 10px;
  }
  .search-form{
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sweets-title{
    font-size: 4rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 15px;
  }
  /* 新規登録 */
  .signup-body {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
  }
  .signup-contents{
    padding-left: 10px;
  }
  .signup-btn {
    margin-bottom: 30px;
  }
  /* ログイン */
  .login-body{
    width: 100vw;
    height: 100%;
    margin: 0 auto;
  }
  .login-contents{
    width: 100vw;
    padding-left: 10px;
  }
  .login-title{
    padding-top: 10;px
    padding-bottom: 50px;
  }
  /* 新規投稿 */
  .sweets-title{
    font-size: 50px
  }
  .sub-title{
    font-size: 20px;
  }
  .new-contents {
    padding-left: 10px;
  }
  .new-body {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  .post-btn{
    font-size: 15px;
    margin-bottom: 30px;
    padding: 10px 30px;
  }
  textarea {
    width: 100vw;
  }
  /* 詳細ページ */
  .sweet-box-img {
    width: 100vw;
  }
  .show-title {
    font-size: 25px;
    width: 100vw;
    margin: 0 auto;
  }
  .show-contents {
    margin: 0 10px;
  }
  .more-list {
    width: 90vw;
  }
  .show-sweet-edit-btn {
    font-size: 15px;
    padding: 10px 40px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .destroy-btn {
    font-size:15px;
    padding: 10px 40px;
    margin-bottom: 20px;
  }
  .comment-btn {
    padding: 10px 20px;
  }
  .another-sweet {
    font-size: 20px;
    margin:  10px;
  }
  /* 編集 */
  .edit-contents{
    padding-left: 10px;
  }
  .edit-page-btn {
    margin-bottom: 30px;
  }
  /* 投稿一覧 */
  .show-content{
    font-size: 20px;
  }
  /* 検索結果 */
  .search-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  /* フッター */
  footer {
    width: 100%;
  }

}
