 .signup-title {
   font-size: 50px;
   margin-left: 100px;
 }
 .login-title {
   font-size: 50px;
   padding: 50px;
   margin-left: 100px;
 }
.container {
  font-size:  30px;
  margin: 0 100px;
  display: block;
}
.input-default {
  font-size: 15px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background: rgba(255,255,255, .5);
  border-style: outset;
  border-radius: 5px;
  padding: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 480px;
  height: 4rem;
}
input[type="submit"] {
  background-color: chocolate;
  color: whitesmoke;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 18px 36px;
  margin-top: 30px;
}
input[type="submit"]:hover {
  background-color: brown;
}

/* showページ
-------------------------------*/
.show-content {
  color: chocolate;
  font-size: 2rem;
  font-family: 'Philosopher', serif;
  border-top: 2px chocolate solid;
  border-bottom: 2px chocolate solid;
  text-transform: none;
  text-align: center;
  padding: 30px 0;
}
